{% extends 'home/welcome.html' %}
{% block page_name %} Tableau de bord {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div style="  border-left-style: solid; border-width: 2px; border-color: #34495e">
            <h4 style="padding-left: 4px"> Clusters des accidents routiers en Algérie</h4>
        </div>
    <div class="row">
    <div class="col-lg-8">
        <div style="border-style: groove;">  {{my_map|safe}} </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-info mb-1" style="width: 100%;">
            <div class="card-header bg-transparent border-info text-info">
                <h5>Les performances obtenues</h5></div>
            <div class="card-body text-dark">
                <center>
             <form class="">
                 <fieldset disabled>
                 <div class="row">
                 <div class="form-group mx-sm-2 mb-2 col">
                     <p >Coefficient de Silhouette</p>
                     <input  class="form-control" id="silhouette" placeholder="">
                 </div>
                 <div class="form-group mx-sm-2 mb-0 col">
                     <p title="Indice de Calinski-Harabasz" data-toggle="popover" data-trigger="hover" >Indice CH</p>

                    <input class="form-control" id="harabasz" placeholder="">

            </div>
                 </div> </fieldset>
        </form></center>
                <h6 style="border-top-style: solid;border-width: 2px;"><br>Les paramètres de DBSCAN</h6></div>
            <div class="card-body text-dark">
                <center>
                <form style="">
                    <div class="form-row">
                    <div class="form-group col-md-6 mb-3 ">
                        <h6>Epsilon</h6>
                <div class="col-sm-10">
                    <input  class="form-control" id="density" placeholder="">
                </div>
            </div>
                    <div class="form-group col-md-6 mb-3 ">
                <h6>minPts</h6>
                <div class="col-sm-10">
                    <input class="form-control" id="rayon" placeholder="">
                </div>
            </div>
                    </div>
                    <div class="row">
                        <div class="form-check" style="float:left; margin: 1%;">
                        <input class="form-check-input" type="checkbox" value="" id="cause">
                        <label class="form-check-label" for="defaultCheck1">
                            Causes d'accidents
                        </label>
                        </div>
                        <div class="form-check" style="float:left; margin: 1%;">
                        <input class="form-check-input" type="checkbox" value="" id="troute">
                        <label class="form-check-label" for="defaultCheck1">
                            Types de route
                        </label>
                        </div>
                        <div class="form-check" style="float:left; margin: 1%;">
                        <input class="form-check-input" type="checkbox" value="" id="cveh">
                        <label class="form-check-label" for="defaultCheck1">
                            Catégories de véhicules
                        </label>
                        </div>
                        <div class="form-check" style="float:left; margin: 1%;">
                        <input class="form-check-input" type="checkbox" value="" id="temperature">
                        <label class="form-check-label" for="defaultCheck1">
                            Température
                        </label>
                        </div>
                        <div class="form-check" style="float:left; margin: 1%;">
                        <input class="form-check-input" type="checkbox" value="" id="precipitations">
                        <label class="form-check-label" for="defaultCheck1">
                            Précipitations
                        </label>
                        </div>
                        <div class="form-check" style="float:left; margin: 1%;">
                        <input class="form-check-input" type="checkbox" value="" id="jour">
                        <label class="form-check-label" for="defaultCheck1">
                            Jour de semaine
                        </label>
                        </div>
                        <div class="form-check" style="float:left; margin: 1%;">
                        <input class="form-check-input" type="checkbox" value="" id="heure">
                        <label class="form-check-label" for="defaultCheck1">
                            Heure
                        </label>
                        </div>
                        <div class="form-check" style="float:left; margin: 1%;">
                        <input class="form-check-input" type="checkbox" value="" id="mois">
                        <label class="form-check-label" for="defaultCheck1">
                            Mois
                        </label>
                        </div>


                    </div>

            <button type="submit" class="btn btn-primary" style="float: right;">Valider</button>
        </form></center>
  </div>

    </div>
</div>
    </div>

    </div>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

{% endblock %}