{% extends 'home/welcome.html' %}
{% load static %}
{% block page_name %} Tableau de bord {% endblock %}

{% block content %}

		<style type="text/css">
.highcharts-figure, .highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.ld-label {
	width:200px;
	display: inline-block;
}

.ld-url-input {
	width: 500px;
}

.ld-time-input {
	width: 40px;
}

		</style>
<script src="{% static 'js/code/modules/exporting.js' %}"></script>
<script src="{% static 'js/code/modules/offline-exporting.js' %}"></script>
<script src="{% static 'js/code/modules/export-data.js' %}"></script>
<script src="{% static 'js/code/modules/histogram-bellcurve.js' %}"></script>
<script src="{% static 'js/code/modules/accessibility.js' %}"></script>
{#<script src="{% static 'js/code/modules/highcharts-more.js' %}"></script>#}
    <script src="{% static 'js/code/modules/item-series.js' %}"></script>
    <script src="{% static 'js/code/modules/item-series.src.js' %}"></script>
    <script src="{% static 'js/code/modules/timeline.js' %}"></script>

<p style="text-align:right"> Date : <span id="datetime"> </span></p>
    <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString('en-GB');</script>
<div id="cards" class="card-deck" style="height: 120px">
            <div class="card border-info mb-3" style="max-width: 540px; height: 100%">
                <div class="card-header bg-transparent border-info ">Nombre total d'accidents</div>
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/acc.png' %}"  class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-text text-info" style="padding-left: 10px">{{ accidents }}</h2>
                            <p class="card-text"><small class="text-muted">Janvier-Mars 2014</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-dark mb-3" style="max-width: 540px;height: 100%">
                <div class="card-header bg-transparent border-dark">Nombre total de blessés</div>
                <div class="row no-gutters">
                    <div class="col-md-4">
                         <img src="{% static 'img/bless.png' %}"  class="card-img inj" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-text text-dark">{{ bless }}</h2>
                            <p class="card-text"><small class="text-muted">Janvier-Mars 2014</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-danger mb-3" style="max-width: 540px;height: 100%">
                 <div class="card-header bg-transparent border-dark ">Nombre total de décés</div>
                <div class="row no-gutters">
                    <div class="col-md-4">
                         <img src="{% static 'img/dec2.png' %}"  class="card-img inj" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-text text-danger">{{ dec }}</h2>
                            <p class="card-text"><small class="text-muted">Janvier-Mars 2014</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-success mb-3" style="max-width: 540px; height: 100%">
                <div class="card-header bg-transparent border-dark ">Evolution des accidents</div>
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="{% static 'img/evolution.png' %}"  class="card-img "  style="top:20%;left: 20%;height: 40px; width: 50px" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h2 class="card-text text-success">{{ evolution}} %</h2>
                            <p class="card-text" style="padding-left: 0px"><small class="text-muted">Entre les deux derniers mois</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-warning mb-3" style="max-width: 540px; height: 100%">
                 <div class="card-header bg-transparent border-dark ">Accidents futures</div>

                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/warning.svg' %}"  class="card-img "  style="top:15%; left: 25%;height: 45px; width: 50px" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-text text-warning">30</h2>
                            <p class="card-text"><small class="text-muted">Accidents</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-12">
           <div style="  border-left-style: solid; border-width: 2px; border-color: #34495e">
               <h4 style="padding-left: 4px"> Distribution des accidents sur le territoire national</h4>
           </div>
            <div style="border-style: groove; width: 100%">  {{my_map|safe}} </div>
            <div style="width: 100%; margin-top:20px;margin-left:0px;border-style: solid; border-width: 1px; border-color: #34495e">
                 <figure class="highcharts-figure" style=" width:100%; ">
                    <div id="accidentschart" style=" width: 100%;   " ></div>
                 </figure>
            </div>
            <div style="width: 100%;  margin-top:20px;margin-left:0px;border-style: solid; border-width: 1px; border-color: #34495e">
                 <figure class="highcharts-figure" style=" width:100%; ">
                    <div id="ageochart" style=" width: 100%;" ></div>
                 </figure>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row" style="grid-row-gap: 0px;">
                <h8 style="color: transparent"> hey</h8>
                <div style="width: 100%;margin-top:20px;margin-left:0px;border-style: solid; border-width: 1px; border-color: #34495e">
                     <figure class="highcharts-figure"  style="width: 100%;" >
                              <div id="daybarchart" style="width: 100%;"></div>
                    </figure>
                </div>
                <div style="width: 100%;margin-top:20px;margin-left:0px;border-style: solid; border-width: 1px; border-color: #34495e">
                <figure class="highcharts-figure" style=" width:100%;" >
                    <div id="hourpie" style=" width: 100%; "></div>
                </figure>
</div>
                <div style="width: 100%;margin-top:20px;margin-left:0px;border-style: solid; border-width: 1px; border-color: #34495e">

                <figure class="highcharts-figure" style=" width: 100% ">
                    <div id="causechart"  style=" width: 100%;  "></div>
                </figure></div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
             <div style="width: 100%; margin-top:20px;margin-left:0px;border-style: solid; border-width: 1px; border-color: #34495e">

            <figure class="highcharts-figure" style="width: 100%;">
                <div id="routechart" style=" width: 100%;" ></div>
            </figure></div>
        </div>
        <div class="col-lg-6">
             <div style="width: 100%; margin-top:20px;margin-left:0px;border-style: solid; border-width: 1px; border-color: #34495e">

            <figure class="highcharts-figure" style="width: 100%;">
                <div id="catchart"  style=" width: 100%"></div>
            </figure></div>
        </div>
        <div class="w-100"></div>
         <div class="col-lg-12 col-md-8">
              <div style="width: 100%; margin-top:20px;margin-left:0px;border-style: solid; border-width: 1px; border-color: #34495e">
            <figure class="highcharts-figure" style="margin-left: 2px">
                <div id="wilayachart" style=" width: 160%; " ></div>
            </figure></div>
        </div>
    </div>
</div>

    <div class="container-fluid">

    </div>
    <figure class="highcharts-figure">
                    <div id="monthbarchart" style="height: 300px; width: 430px; border-style: solid groove; border-width: 1px; border-color: #34495e"></div>
</figure>


<script type="text/javascript">
Highcharts.chart('daybarchart', {

    chart: {
        type: 'column'
    },

    legend: {
        enabled: false
    },



   title: {
        text: 'Statistiques des dégâts humains par jour'
    },


    xAxis: {
        title: {
            text: ""
        },
        categories: [
            {#'Dimanche', 'Lundi', "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"#}
            {% for entry in daydata %}'{{ entry.jour}} '{% if not forloop.last %}, {% endif %}{% endfor %}
          ]},

    yAxis: {
        min: 0,
        title: {
            text: ' '
        }
    },

     plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
         layout: 'horizontal',
        align: 'center',
        verticalAlign: 'top',
        floating: true,
        y: 30,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
        {#shadow: true#}
    },
    series: [{

        name: 'Nombre de décés',
        color: '#34495e',
        data: [
            {% for entry in daydata %}{{ entry.dec_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
        ],

    }, {
        name: 'Nombre de blessés',
        color: '#2980b9 ',
        data: [
            {% for entry in daydata %}{{ entry.bless_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
        ],
    },
        {
        name: 'Nombre d\'accidents',
        data: [
            {% for entry in daydata %}{{ entry.accidents}}{% if not forloop.last %}, {% endif %}{% endfor %}
        ],
    },
    ],
      dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }

});
Highcharts.chart('monthbarchart', {

    chart: {
        type: 'bar'
    },

    legend: {
        enabled: false
    },

     title: {
        text: 'Statistiques des dégâts humains par mois'
    },

    xAxis: {
        title: {
            text: "Mois"
        },
        categories: [
{%          for entry in monthdata %}'{{ entry.mois}} '{% if not forloop.last %}, {% endif %}{% endfor %}
          ]},

    yAxis: {
        min: 0,
        title: {
            text: 'Nombre enregistré'
        },
        labels: {
            overflow: 'justify'
        }
    },

     plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'top',
        floating: true,
        y: 29,
        x:10,
        {#borderWidth: 1,#}
        {#backgroundColor:#}
        {#    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',#}
        {#shadow: true#}
    },
    series: [{

        name: 'Nombre de décés',
        color: '#34495e',
        data: [
            {% for entry in monthdata %}{{ entry.dec_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
        ],

    }, {
        name: 'Nombre de blessés',
        color: '#2980b9',
        data: [
            {% for entry in monthdata %}{{ entry.bless_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
        ],
    },
    ],
      dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '12px',
                fontFamily: 'Verdana, sans-serif'
            }
        }

});
Highcharts.chart('wilayachart', {

    chart: {
        type: 'column',
        {#inverted: true,#}
    },

    legend: {
        enabled: false
    },


     title: {
        text: 'Statistiques des dégâts humains par wilaya'
    },
    xAxis: {

        categories: [
            {% for entry in wilaya_data %}'{{ entry.wilaya}}'{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
    },


    yAxis: {

        title:''
    },

     plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'top',
        x: 10,
        y: 18,
        floating: true,

    },

    series: [{

        name: 'Nombre de décés',
        color:'#34495e',
        data: [
            {% for entry in wilaya_data %}{{ entry.dec_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
        ],

    }, {
        name: 'Nombre de blessés',
        color:'#2980b9',
        data: [
            {% for entry in wilaya_data %}{{ entry.bless_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
        ],
    },
        {
        name: 'Nombre d\'accidents',
        data: [
            {% for entry in wilaya_data %}{{ entry.accidents }}{% if not forloop.last %}, {% endif %}{% endfor %}
        ],
    },
    ],
});
Highcharts.chart('catchart', {
    chart: {
        type: 'bar'
    },
      legend: {
        enabled: false
    },

    title: {
        text: 'Catégories de véhicules impliqués '
    },
    xAxis: {
        categories: [
            {% for entry in catdata %}'{{ entry.cat_veh}}'{% if not forloop.last %}, {% endif %}{% endfor %}
        ],
    },
    yAxis: {
        title: {
            text: ''
        }
    },


    plotOptions: {

        bar: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: true
        }

    },
    series: [{
        name: 'Catégorie de véhicule',
        color:'#2c3e50',
        data: [
            {% for entry in catdata %}{{ entry.cat_count}}{% if not forloop.last %}, {% endif %}{% endfor %}
        ]
    }
    ],
    dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
});
Highcharts.chart('causechart', {

    chart: {
        type: 'pie'
    },

    title: {
        text: 'Les causes d\'accident les plus pertinentes'
    },

    legend: {
        {#enabled: false,#}

        labelFormat: '{name} <span style="opacity: 0.4">{y}</span>'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true
            },
            showInLegend: true
        }
    },

    series: [{
        name: 'Taux d\'occurences',
        keys: ['name', 'y', 'label'],
        data: [
             {% for entry in causes %}
            [name='{{ entry.cause_acc }}',y={{ entry.cause }}, label='{{ entry.cause_acc }}']
            {% if not forloop.last %}, {% endif %}{% endfor %}
        ],
        dataLabels: {
            enabled: false,
            format: '{point.label} '
        },

        // Circular options
        center: ['50%', '88%'],
        size: '150%',
        startAngle: -100,
        endAngle: 100
    }]
});
Highcharts.chart('accidentschart', {

    title: {
        text: 'Evolution de l\'accidentalité entre Janvier et Mars 2014'
    },

    xAxis: {
        categories: [
{#            {% for entry in accident %}'{{ entry.mois }}'{% endfor %}#}
         {% for entry in accident %}'{{ entry.mois}} '{% if not forloop.last %}, {% endif %}{% endfor %}
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color}; font-size:10px; padding:0">{series.name}: </td>' +
            '<td style="padding:0; font-size:12px"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        type: 'column',
        name: 'Nombre d\'accidents',
        data: [
             {% for entry in accident %}{{ entry.accidents}} {% if not forloop.last %}, {% endif %}{% endfor %}
{#            {% for entry in accident %}'{{ entry.accident }}'{% if not forloop.last %}, {% endif %}{% endfor %}#}
        ]

    }, {
        type: 'column',
        name: 'Nombre de blessés',
        data: [
            {% for entry in accident %}{{ entry.bless_count }}{% if not forloop.last %}, {% endif %}{% endfor %}

        ]

    }, {
        type: 'column',
        name: 'Nombre de décés',
        data: [
            {% for entry in accident %}{{ entry.dec_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
        ]

    },
    {
        type: 'spline',
        name: 'Evolution des accidents',
        data: [

            {% for entry in cum_acc %}
              {{ entry.cum_acc}}
            {% if not forloop.last %}, {% endif %}{% endfor %}
        ],
        marker: {
            lineWidth: 2,
            lineColor: Highcharts.getOptions().colors[3],
            fillColor: 'white'
        }
    },
    ]
});
Highcharts.chart('routechart', {

    chart: {
        type: 'pie'
    },
    title: {
        text: 'Types de routes impliquées'
    },
   tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Pourcentage',
        data: [
            {% for entry in routedata %}
                  [name='{{ entry.type_route }}',y= {{ entry.route_count}}]
            {% if not forloop.last %}, {% endif %}{% endfor %}
        ],

    }]

});
Highcharts.chart('hourpie', {

    title: {
        text: 'Heures de pointe'
    },

    xAxis: {
        categories:[
          {% for entry in hourdata  %} '{{ entry.heure }}' {% if not forloop.last %}, {% endif %}{% endfor %}
        ]
    },
    yAxis:{
        title: {
            text: 'Nombre d\'accidents'}
    },
    legend: {
        enabled: false,
    },

    series: [
        {   color: '#c0392b',
            data: [
              {% for entry in hourdata %}
                  {{ entry.accidents }}
            {% if not forloop.last %}, {% endif %}{% endfor %}
        ],
             accessibility: {
            exposeAsGroupOnly: true
        },
            }]
});
Highcharts.chart('ageochart', {

    title: {
        text: 'Le nombre d\'accidents en fonction de l\'age du conducteur'
    },

    yAxis: {
        title: {
            text: 'Nombre d\'accidents'
        },
        resize: {
            enabled: true
        }
    },

    xAxis: {
        title:{
            text:"L\'age du cahuffeur"
        },
        categories:[
            {% for entry in temperaturedata %}'{{ entry.age_chauff}} '{% if not forloop.last %}, {% endif %}{% endfor %}
        ]
    },

    legend: {
        enabled: false,
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        floating: true,
    },
    chart: {
        {#// Edit chart spacing#}
        spacingBottom: -2,
        spacingTop: -3,
        {#spacingLeft: 10,#}
        {#spacingRight: 10,#}
        {#// Explicitly tell the width and height of a chart#}
        width: null,
        height: 325,
},

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },

        }
    },

    series: [{
        name: 'Nombre d\'accidents enregistré',
        data: [
            {% for entry in temperaturedata %}{{ entry.accidents}}{% if not forloop.last %}, {% endif %}{% endfor %}
            ]
    },
    {#    {#}
    {#    name: 'Précipitations',#}
    {#    data: [#}
    {#        {% for entry in precipitationdata %}{{ entry.accidents}}{% if not forloop.last %}, {% endif %}{% endfor %}#}
    {#    ]#}

    ],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    enabled: false,
                }
            }
        }]
    }

});


</script>
{% endblock %}