{% load static %}
<html>
<head>
    <title>Dashboard </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Poppins/Poppins-Regular.ttf'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.5.0/bootstrap-4.5.0-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% block script %}
    <script src="{% static 'js/highcharts.src.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>

    <script src="{% static '/js/script.js' %}"></script>
  {% endblock %}

</head>
<body>
<nav class="navbar navbar-dark  navbar-expand-lg sticky-top bg-dark  p-0 shadow "  >
    <a class="navbar-brand" href="#" >
            <img src="{% static 'img/logo_RTA.png' %}"  class="d-inline-block align-center" alt=""height="40px">
           Accidents Analyzer
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link " href="#">
              Tableau de bord <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Heatmap
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Base De Données
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Help
            </a>
          </li>

       </ul>
    </div>

        <div class=" row ">
            <div class="btn-group mr-2 px-3">
           <button id="username" type="button" class="btn btn-sm btn-outline-secondary">User Name</button>
            <button id="deconnexion" type="button" class="btn btn-sm btn-outline-secondary">Déconnexion</button>
          </div>
        </div>
   </nav>
{#<div class="">#}
{#    <div class="row">#}
{#      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">#}
{#       <div class="sidebar-sticky pt-4">#}
{#        <ul class="nav flex-column">#}
{#          <li class="nav-item">#}
{#            <a class="nav-link active" href="#">#}
{#              <span data-feather="home"></span>#}
{#              Tableau de bord <span class="sr-only">(current)</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">#}
{#              <span data-feather="file"></span>#}
{#              Prédiction#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">#}
{#              <span data-feather="shopping-cart"></span>#}
{#              Base De Données#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">#}
{#              <span data-feather="users"></span>#}
{#              Help#}
{#            </a>#}
{#          </li>#}
{##}
{#        </ul>#}
{#      </div>#}
{#    </nav>#}
    <main role="main" class="col">
      <div id="main" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
{#        <h4>Les accidents routiers en Algérie</h4>#}
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button id="exporter" type="button" class="btn btn-sm btn-outline-secondary">Exporter</button>
          </div>

        </div>
      </div>

    {% block content %}

    {% endblock %}

      </main>

  </div>

<script>
    $(document).ready(function() {
        {%block jquery%} {% endblock jquery %}
    })
</script>

</body>
</html>
