{% load static %}
<html lang="fr">
<head>
    <title>Dashboard </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Poppins/Poppins-Regular.ttf'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.5.0/bootstrap-4.5.0-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% block script %}
    <script src="{% static 'js/highcharts.src.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.js' %}"></script>

    <script src="{% static '/js/script.js' %}"></script>
  {% endblock %}

</head>
<body>
<nav class="navbar navbar-dark  navbar-expand-lg sticky-top bg-dark  p-0 shadow "  >
    <a class="navbar-brand" href="#" >
            <img src="{% static 'img/logo_RTA.png' %}"  class="d-inline-block align-center" alt=""height="40px">
           Accidents Analyzer
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link " href="/get-data/">
              Tableau de bord <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/heatmap/">
              Heatmap
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Base De Données
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Help
            </a>
          </li>

       </ul>
    </div>

        <div class=" row ">
            <div class="btn-group mr-2 px-3">
           <button id="username" type="button" class="btn btn-sm btn-outline-secondary">User Name</button>
            <button id="deconnexion" type="button" class="btn btn-sm btn-outline-secondary">Déconnexion</button>
          </div>
        </div>
   </nav>

<main role="main" class="col">
    <div id="main" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>Les accidents routiers en Algérie</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button id="exporter" type="button" class="btn btn-sm btn-outline-secondary">Exporter</button>
          </div>

        </div>
        </div>
     <p style="text-align:right"> Date : <span id="datetime"> </span></p>
    <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString('en-GB');</script>

{#<div id="cards" class="card-deck">#}
{#            <div class="card border-info mb-3" style="max-width: 540px;">#}
{#                <div class="row no-gutters">#}
{#                    <div class="col-md-4">#}
{#                        <img src="{% static 'img/acc.png' %}"  class="card-img" alt="">#}
{##}
{#                    </div>#}
{#                    <div class="col-md-8">#}
{#                        <div class="card-body">#}
{#                            <p class="card-title">Nombre total d'accidents</p>#}
{#                            <h2 class="card-text text-info">5602</h2>#}
{#                            <p class="card-text"><small class="text-muted">Janvier-Mars 2014</small></p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card border-warning mb-3" style="max-width: 540px;">#}
{#                <div class="row no-gutters">#}
{#                    <div class="col-md-4">#}
{#                         <img src="{% static 'img/bless.png' %}"  class="card-img" alt="">#}
{#                    </div>#}
{#                    <div class="col-md-8">#}
{#                        <div class="card-body">#}
{#                            <p class="card-title">Nombre total de blessés</p>#}
{#                            <h2 class="card-text text-warning">5602</h2>#}
{#                            <p class="card-text"><small class="text-muted">Janvier-Mars 2014</small></p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card border-danger mb-3" style="max-width: 540px;">#}
{#                <div class="row no-gutters">#}
{#                    <div class="col-md-4">#}
{#                         <img src="{% static 'img/dec.png' %}"  class="card-img" alt="">#}
{#                    </div>#}
{#                    <div class="col-md-8">#}
{#                        <div class="card-body">#}
{#                            <p class="card-title">Nombre total de décés</p>#}
{#                            <h2 class="card-text text-danger">5602</h2>#}
{#                            <p class="card-text"><small class="text-muted">Janvier-Mars 2014</small></p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card border-success mb-3" style="max-width: 540px;">#}
{#                <div class="row no-gutters">#}
{#                    <div class="col-md-4">#}
{#                        <img src="{% static 'img/evolution.png' %}"  class="card-img" alt="">#}
{#                    </div>#}
{#                    <div class="col-md-8">#}
{#                        <div class="card-body">#}
{#                            <p class="card-title">Evolution des accidents</p>#}
{#                            <h2 class="card-text text-success">5602</h2>#}
{#                            <p class="card-text"><small class="text-muted">Janvier-Mars 2014</small></p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#<div class="card-deck">#}
{#        <div class="card bg-transparent border-success mb-3" style="max-width: 540px;">#}
{#            <div class="card-header bg-transparent border-success">#}
{#                <h6>Nombre total d'accidents</h6>#}
{#            </div>#}
{#            <div class="card-body ">#}
{#                <h3 class="card-title">5862</h3>#}
{#                <p class="card-text">Janvier - Mars 2014</p>#}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="card bg-transparent border-warning mb-3" style="max-width: 540px;">#}
{#            <div class="card-header bg-transparent border-warning">#}
{#                <h6> Nombre total de blessés</h6></div>#}
{#            <div class="card-body">#}
{#                <h3 class="card-title text-warning">6025</h3>#}
{#                <p class="card-text">Janvier - Mars 2014</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="card bg-transparent border-danger mb-3" style="max-width: 540px;">#}
{#            <div class="card-header bg-transparent border-danger">Header</div>#}
{#            <div class="card-body text-primary">#}
{#                <h5 class="card-title">Primary card title</h5>#}
{#                <p class="card-text">Some quick</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="card bg-transparent border-info mb-3" style="max-width: 540px;">#}
{#            <div class="card-header bg-transparent border-info">Header</div>#}
{#            <div class="card-body text-primary">#}
{#                <h5 class="card-title">Primary card title</h5>#}
{#                <p class="card-text">Some quick</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    {% block content %}

    {% endblock %}

      </main>

  </div>

<script>
    $(document).ready(function() {
        {%block jquery%} {% endblock jquery %}
    })
</script>

</body>

</html>
