{% load static %}
<div id="mySidenav" class="sidenav">
        <img src="img/user_logo.png"  width="150px" height="100px" alt="logo_user" style="padding-left: 40px;">
        <p  style="padding-left: 45px; color:#f5f6fa ; font-size: 12px;">Nom d'utilisateur</p>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% static 'sidebar-03/index.html' %}">Tableau de bord</a>
        <a href="#">Prédicteur</a>
        <a href="#">Base de données</a>
        <a href="#">Help</a>
      </div>
      <span style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776;</span>