input[type=text], input[type=password], select{
  width: 60%;
  padding: 12px 20px;
  margin: auto 0;
  margin-top: 2%;
  margin-bottom: 3%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  left: 20%;

  }

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  /*margin-top: 10px;*/
  position: relative;
  left: 15%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.img_container {
  text-align: center;
  margin: 24px 0 5px 0;
  width: 100%;
}
.my{
  background-color:#353b48;
  box-shadow: inset -0.2px 0 0 rgba(0, 0, 0, .2);
  height: 100px;
}

img.logo {
  width: 17%;
  border-radius: 50%;
  position: relative;

}
.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
