html, body {
    margin: 0;
    height: 100%;
    font-size: .875rem;
    font-family: 'Poppins', sans-serif;
    /*background-color: #f5f6fa;*/
    background-color: #f5f6fa;

}

.footer{
  text-align:right;
  position: relative;
   right: 5%;
   bottom: 5%;
   /*width: 100%;*/
  /*height: 45psx;*/
  /*background-color:#2c3e50;*/
  /*margin: 5px;*/

  font-size: .875rem;
  font-family: 'Poppins', sans-serif;
}
.mycontainer{
  background-color: #ffffff;
  width: 94%;
  margin:0 auto;
}

header{
  display: flex;
  margin: auto;
  /*height: 10vh;*/
}
footer{
  display: flex;
  margin: auto;
  /*height: 60px;*/
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -0.2px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
@media screen and (max-width: 1024px){
  .main{
    flex-direction: column;
  }
  
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
    font-size: 16px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .70rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding: .5rem 0.5rem .50rem 0px;
  font-size: 17px;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -0.2px 0 0 rgba(0, 0, 0, .2);
}
.navbar{
  width: 100%;

}

.container-fluid{
   width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-nav{
  margin: 0;
  font-size: 13px;
}
.navbar .navbar-toggler {
  margin: 0;
  top: .25rem;
  right: 1rem;
  height: 60px;

}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .25);
}
.card-img {
  /*max-width: 100px;*/
  /*max-height: 100px;*/
  position: absolute;
  top: 20%;
  /*left: 10%;*/
  /*width: 100%;*/
}
.inj{
  width: 100%;
  height: 50%;
  left: -10%;
  top: 15%;

  /*width: 100%;*/
}
/*input[type=date]{*/
/*  width: 250px;*/
/*  height: 40px;*/
/*  padding: 12px 20px;*/
/*  margin: 8px 0;*/
/*  !*display: inline-block;*!*/
/*  border: 1px solid #ccc;*/
/*  box-sizing: border-box;*/
/*  position: relative;*/
/*  left: 10%;*/
/*  }*/