<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Poppins/Poppins-Regular.ttf">
    <link rel="stylesheet" href="./css/bootstrap-4.5.0/bootstrap-4.5.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">

    <script src="./js/script.js"></script>
    <title>Tableau de bord</title>
</head>
<body>
    <header>
        <div class="logo_container">
            <img src="./img/logo_RTA.png" alt="logo" width="40px" height="40px">
        </div>
        <nav> <h6 style="font-size: 15px; color: #f5f6fa; padding-top: 12px; padding-left: 5px;">RTA Analyzer</h6></nav>
    </header>
    <div id="mySidenav" class="sidenav">
        <img src="./img/user_logo.png"  width="150px" height="100px" alt="logo_user" style="padding-left: 40px;">
        <p  style="padding-left: 45px; color:#f5f6fa ; font-size: 12px;">Nom d'utilisateur</p>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Tableau de bord</a>
        <a href="#">Prédicteur</a>
        <a href="#">Base de données</a>
        <a href="#">Help</a>
      </div>
      <span style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776;</span>
</body>
</html>